body {
    background-color: rgb(46, 46, 46);
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;

        
}

nav#menu {
    background-image: url("imagens/background.jpg");
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	font-size: 2.5vh;
    text-align: center;
	background-color: black;
    margin: auto;
}

nav#menu li{
	display: inline-block;
	background-color: black;
	padding: auto;
	margin: 2vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bolder;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

nav#menu a{
	color: white;
	text-decoration: none;
}

nav#menu a:hover{
	color: rgb(0, 181, 226);
    transition: 0.3s;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {

    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}

#form{
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;

    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-right: 1rem;
    padding-left: 1rem;


}

.form , .form input, .form textarea, .form button {


    display: block;
    width: 50%;
    margin-left: 25%;

}

.form label {
    color: white;
    line-height: 1;
    margin-bottom: 0.5rem;
    margin-left: 25%;

}

.form input, .form textarea {

    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
    
}

.form textarea {
    min-height: 13rem;
    resize: vertical;

}


.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {

    outline: none;
    background-color: #09d;
    box-shadow: 0 0 0 3px #4dc8ff;
}

.form button {
    display: block;
    padding: 1rem;
    background: #0072c4;
    color: white;
    font: inherit;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;

}

.form:button, .form:focus{
    outline: none;
    background: #09d;

}
