body {
    background-color: rgb(46, 46, 46);
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;

    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
}

nav#menu {
    background-image: url("imagens/background.jpg");
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	font-size: 2.5vh;
    text-align: center;
	background-color: black;
    margin: auto;
}

nav#menu li{
	display: inline-block;
	background-color: black;
	padding: auto;
	margin: 2vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bolder;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

nav#menu a{
	color: white;
	text-decoration: none;
}

nav#menu a:hover{
	color: rgb(0, 181, 226);
    transition: 0.3s;
}

div#intro {
    z-index: -1;
    background-size: 100%;
    background-position: center;
    background-image: url("imagens/ham-background.jpg");
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    padding: 19px 0 50px 0;
    background-attachment: fixed;
    
}

div#intro img{
    
    position: relative;
    text-align: center;
    padding: 0;
    top: 10%;
    width: 30%;
    
}

.beneficios {

    
    border-top: 5px;
    margin: none;
    
    padding: none;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    height: 450px;

}

.quem-somos {
    
    border-top: 5px;
    margin: none;
    
    padding: none;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    height: 450px;

}

#quem-somos-img{
    height: 100%;
    width: 40%;
    float: left;
    background-color: black;
}

#quem-somos-txt {
    
    width: 40%;
    height: 100px;
    float: right;
    margin: none none none none;
    padding: 5% 10%  

}

#bob-esponja {

    color:rgb(0, 181, 226);
    
}

#lanchao {

    color:rgb(0, 181, 226);
    
}

#quem-somos-txt2 {
    
    width: 40%;
    
    float: left;
    padding-left: 5%;
    vertical-align: middle;
    line-height: 130%;
    padding-top: 5%;

}
#quem-somos-img2{

    height: 100%;
    width: 40%;
    float: right;
    background-color: black;
}



#mapa{
    background-image: url("imagens/mapa-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;

    text-align:center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;

    padding: 5% 0 5% 0;
}

#inclusao-img {
    
    height: 90%;
    width: 40%;
    float: left;
    padding: 1% 1% 1% 3%;

}

#listaBeneficios {
    width: 40%;
    
    float: left;
    vertical-align: middle;
    line-height: 100%;
    padding-top: 5%;
}

#video {
    background-image: url("imagens/cozinha.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;

    text-align:center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;

    padding: 5% 0 5% 0;
    text-align: center;


}

#video iframe {

    width: 600px;
}


#rodape{
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding-right: 10vh;
}

.logo-rodape {
    width: 30vh;
}

.rede-rodape{

    width:10vh;
    align-items: center;
    vertical-align: middle;
    padding: 10vh;
}
